{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead"
    style="background-image:  url('{{ url_for('static', filename='assets/img/contact-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Edit Post/s</h1>
                    <span class="subheading">What to Edit Post</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes"
    style="list-style: none; padding: 0; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 5vh;">
    {% for message in messages %}
    <li style="color: {{para['flash_color']}};">{{ message }}</li>
    {% endfor %}
</ul>
<script>
    // Automatically close the message after below mentioned seconds
    setTimeout(function () {
        var messageList = document.querySelector('.flashes');
        if (messageList) {
            messageList.style display = 'none';
        }
    }, {{ para['flas_time'] }});  //in milliseconds 
</script>
{% endif %}
{% endwith %}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Fill details below! </p>
                <div class="my-5">
                    <form method="POST" action="/edit/{{post.slug}}">
                        <div class="form-floating">
                            <input class="form-control" id="title" name="title" value="{{ post.title }}" type="text"
                                placeholder="Enter your Title...">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <label for="title">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="title:required">A Title is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="tagline" name="tagline" value="{{ post.tagline }}"
                                type="text" placeholder="Enter your Tagline...">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <label for="tagline">Tagline</label>
                            <div class="invalid-feedback" data-sb-feedback="tagline:required">An Tagline is required.
                            </div>

                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="slug" name="slug" value="{{ post.slug }}" type="text"
                                placeholder="Enter slug...">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <label for="slug">Slug</label>
                            <div class="invalid-feedback" data-sb-feedback="slug:required">A slug is mandatory and must
                                be unique.
                            </div>
                        </div>

                        <div class="form-floating">
                            <div id="editor-container" style="height: 300px;"></div>
                            <textarea class="form-control" id="content" name="content"
                                style="display: none;"></textarea>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        </div>
                </div>

                <div class="form-floating">
                    <input class="form-control" id="img_file" name="image" value="{{post.img_file}}" type="text"
                        placeholder="Enter Imagefile source...">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <label for="image">Imagefile</label>

                </div>
                <br />
                <!-- Submit Button-->
                <button class="btn btn-primary " id="submitButton" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>

<!-- Include Quill.js library -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor-container', {
        theme: 'snow',
    });
    quill.root.innerHTML = '{{ post.content|safe }}';
    quill.on('text-change', function () {
        var content = document.querySelector('#content');
        content.value = quill.root.innerHTML;
    });
</script>
{% endblock %}